include mixins

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport")
		title КиноЦензор
		link(rel="stylesheet" href="css/style.min.css")
		//- Add the slick-theme.css if you want default styling
		//- link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css")
		//- Add the slick-theme.css if you want default styling
		//- link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css")
		script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")

	body

		//- object(type="image/svg+xml" data="img/sprite.svg") Your browser does not support SVG

		#app
			header.section.header.mb-12.mb-md-13
				nav.navbar.navbar-dark.pt-10.pr-15.pl-18
					.container
						.row
							button.navbar-toggler.d-md-none(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
								//- span.navbar-toggler-icon.icon.icon-bars
								+svg("bars", "navbar-toggler-icon border-0")
							form.form-inline.search(action="", method="post")
								//- a.d-md-none.icon.icon-search.search-icon(href="")
								a.d-md-none(href="")
									+svg("search", "search-icon")
								.input-group.d-none.d-md-flex
									input.form-control(type="text")
									.input-group-append
										//- a.input-group-text.icon.icon-search.search-icon(href="")
										a.input-group-text(href="")
											+svg("search", "search-icon")
										//- a.input-group-text.icon.search-icon(href="") &gt;
										a.input-group-text(href="")
											+svg("sliders-h", "search-icon")
							//- a.navbar-brand.order-md-first(href="")
							//- 	h1.d-md-flex.section-title.section-title--main.logo
							//- 		span.logo-text.logo-text--light Кино
							//- 		b.logo-text.logo-text--dark Цензор
							a.navbar-brand.order-md-first(href="")
								+svg("cinema", "navbar-brand_icon navbar-brand_icon--cinema")
								+svg("censor", "navbar-brand_icon navbar-brand_icon--censor")
							.navbar-text.letters
								.icon.letters-icon
									.icon-symbol_wrap
										+svg("envelope", "icon-symbol")
									.badge.letters-number
								+svg("check-square", "letters-icon")
							.navbar-text.user
								.user-status_wrap
									.user-text
									.user-status
										- for (var i = 0; i <= 10; i++)
											.user-bar(class={"user-bar--full": i < 2, "user-bar--first": i == 0, "user-bar--last": i == 10})
								.img_wrap.user-avatar_wrap
									img.img_wrap-img.user-avatar(src="", alt="")
									.icon.icon-check.user-check
							.w-100
							.collapse.navbar-collapse.d-md-block#navbarSupportedContent
								ul.navbar-nav.mr-auto
									each item in mainMenu
										li.nav-item
											a.nav-link(href="")= item

			.container.px-0.content
				.row.mx-0
					section.col.pr-0.pr-lg-14.section.main
						.row.pl-8.px-md-0.main-row.main-top
							h2.col.pl-md-2.section-title.section-title--main.main-title Сегодня в кино
							//- ul.col-5.col-sm-6.nav.pr-5.pb-6.pr-md-7.pb-md-4.justify-content-end.filter
							ul.col-5.col-sm-6.nav.pr-4.pb-6.pr-md-0.pb-md-4.justify-content-end.filter
								li.nav-item.order-md-1.filter-item.filter-item--d_flex
									a.nav-link.pr-7.pb-7.p-md-0.icon.icon--round.filter-icon.filter-icon--rounded.filter-link(href="")
										.icon-bg
										span.d-none.d-md-inline-block.filter-text Фильтр
										//- span.p-md-0.icon.icon-filter.filter-icon.filter-icon--rounded
										.icon-symbol_wrap
											+svg("filter", "p-md-0 icon-symbol filter-icon")
								li.nav-item.order-md-3.filter-item.filter-item--d_flex
									a.nav-link.pl-11.py-10.pr-9.p-md-0.icon.icon--round.filter-icon.filter-icon--rounded.filter-link(href="")
										.icon-bg
										span.d-none.d-md-inline-block.filter-text Сортировка
										//- span.p-md-0.icon.icon-sort.filter-icon.filter-icon--rounded
										.icon-symbol_wrap
											+svg("sort-amount", "p-md-0 icon-symbol filter-icon")
								li.nav-item.order-md-2.nav.filter-item
									span.filter-text Вид
									.filter-icons.pl-1.pr-2.pl-md-4.pr-md-0
										a.nav-link.filter-link.filter-link--p_0(href="" :class="{'filter-link--active': byRows}" @click.prevent="byRows=true")
											//- span.icon.icon-bars.filter-icon.filter-icon--margined
											+svg("bars", "filter-icon filter-icon--margined")
										a.nav-link.filter-link.filter-link--p_0(href="" :class="{'filter-link--active': !byRows}" @click.prevent="byRows=false")
											//- span.icon.icon-squares.filter-icon.filter-icon--margined.filter-icon--active
											+svg("th-large", "filter-icon filter-icon--margined")
						+card-container
						.row.pl-18.px-md-0.main-row.pagination-container
							ul.col-auto.pagination.mb-9.pr-19.pr-md-25
								- for (var i = 0; i < 7; i++)
									case i
										when 0
											li.page-item
												a.page-link(href="")
													span.icon.icon-angle_left.page-text.page-icon
													span.d-none.d-md-block.page-text Предыдущая
										when 1
											li.page-item.d-none.d-md-block
												a.page-link(href="")= i
										when 3
											li.page-item.active
												a.page-link(href="")= i
										when 5
											li.page-item.d-none.d-md-block
												a.page-link(href="")= i
										when 6
											li.page-item
												a.page-link(href="")
													span.d-none.d-md-block.page-text Следующая
													span.icon.icon-angle_right.page-text.page-icon
										default
											li.page-item
												a.page-link(href="")= i
							.col-auto.px-0.page-status Страница 3 из 7
					aside.col.d-none.d-lg-block.px-0.section.sidebar
						.container.section-container.sidebar-container.section-white_bg

			#pixel_perfect

		script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
		script(src="js/script.js")
