include variables

mixin svg(id, classes="")
  svg(class=classes)
    use(xlink:href="../svg/symbol/svg/sprite.symbol.svg#" + id)

mixin card-rating-body(text, modif="")
  .card-rating(class=modif ? "card-rating--" + modif : "")
    +svg("star", "card-rating_star")
    span.card-rating_text= text

mixin card-rating(status)
  case status
    when 5.8
      +card-rating-body(status, "warning")
    when 2.4
      +card-rating-body(status, "danger")
    default
      +card-rating-body(status)

mixin card-img(img, options)
  .card-row_elem.card-tab 3d
  img.card-img(src="img/today/" + img + ".jpg", alt=options.title)
  +card-rating(options.status)
  if options.status > 9
    .card-review

mixin card-title(title, classes="", marked=false)
  h3.card-title.section-title(class=classes)
    .row.no-gutters.card-title_row
      span.col-auto.card-title_text= title
      //- span.col-auto.card-title_text Король лев
      .card-title_hidden.d-md-none
      .col-auto.icon.icon--round.card-row_elem.card-row_elem--d_inline_block.card-title_mark
        .icon-bg
        .icon-symbol_wrap
          +svg("bookmark", "icon-symbol")
    .card-row_elem.card-title_translate The Lion King

mixin card-info(classes="")
  ul.list-group.list-group-horizontal.card-info(class=classes)
    li.list-group-item.card-info_item
      +svg("star-empty", "card-row_elem card-icon card-info_icon")
      span.card-info_number 392
    li.list-group-item.card-info_item
      +svg("layer-group", "card-row_elem card-icon card-info_icon card-info_icon--review")
      span.card-info_number 47
    li.list-group-item.card-info_item
      +svg("comment", "card-row_elem card-icon card-info_icon card-info_icon--comment")
      span.card-info_number 578

mixin card-subtitle(date, genre)
  //- - var text = card.isRow ? "2019, Боевик, драма, биография" : date + ", " + genre

  h4.card-subtitle
    span #{date}, #{genre}
    //- span 2019, Боевик, драма, биография
    span.badge.card-row_elem.card-row_elem--d_inline_block.card-subtitle_badge.order-md-first 16+

//- mixin card-block(img, options)
//-   article.col.card.px-md-0
//-     .card-body
//-       +card-img(img, options)
//-       +card-title(options.title)
//-       +card-subtitle(options.date, options.genre)

mixin card(img, options)
  //- article.w-100.card.card--row
  //- article.col.px-md-0.card(class={"card--row": card.isRow})
  article.col.px-md-0.card(:class="cardModifClass")
    .card-body
      .row.no-gutters.align-items-start
        .col-auto.card-col.card-img_wrap
          +card-img(img, options)
        .col.card-col.card-text_wrap
          .row.justify-content-between.no-gutters
            //- +card-title(options.title, "col-12 col-md-8")
            +card-title(options.title, "col-auto card-col")
            //- +card-info("d-none d-md-flex")
            .col-auto.card-info_wrap
              +card-info
            //- .w-100
            .col
              +card-subtitle(options.date, options.genre)
              .list-group.list-group-horizontal.d-none.d-md-flex.card-categories
              .list-group.list-group-horizontal.d-none.card-categories
                span.badge
              .card-text.card-text--short Фильм, 120 мин. Великобритания
            .col-6.card-text= options.text
      a.btn.btn-link.card-row_elem.card-link(href="") Подробнее...
    //- .card-footer.d-md-none
    .card-row_elem.card-footer
      +card-info

mixin display-cards(items)
  each item, index in items
    +card((index + 1), item)

mixin card-container
  //- - var classes = ""
  -
    var movies = [
      {
        title: "Бесконечно белый медведь",
        date: 2015,
        genre: "комедия",
        status: 9.3,
        text: "2015, Фильм, 106 мин. Боевик, драма, биография Китай, США, Канада Режисёр: Джеймс Кэмерон"
      },
      {
        title: "Путешествие из Парижа",
        date: 2015,
        genre: "комедия",
        status: 5.8,
        text: "2011, Фильм, 120 мин. Драма, военный Великобритания, Франция Режисёр: Стивен Спилберг"
      },
      {
        title: "Побудь в моей шкуре",
        date: 2014,
        genre: "фантастика",
        status: 2.4,
        text: ""
      },
      {
        title: "Матрос Железняк",
        date: 1985,
        genre: "драма",
        status: 9.3,
        text: ""
      },
      {
        title: "Сила воли",
        date: 2016,
        genre: "драма",
        status: 5.8,
        text: ""
      }
    ]

  //- - card.isRow = byRows

  //- if card.isRow
  //-   - classes = "p-0"
  //- else
  //-   - classes = "pb-37 pl-27 pt-md-4 pr-md-19 pb-md-14 pl-md-23 shadow-sm section-container--light_bg"

  main.row.mr-lg-0.section-container.main-row.main-container(:class="containerClasses")
    //- .card-group
    +display-cards(movies)
    +display-cards(movies)
