include variables

mixin svg(id, classes="")
  svg(class=classes)
    use(xlink:href="../svg/symbol/svg/sprite.symbol.svg#" + id)

mixin card-rating-body(text, modif="")
  .card-rating(class=modif ? "card-rating--" + modif : "")
    +svg("star", "card-rating_star")
    span.card-rating_text= text

mixin card-rating(status)
  case status
    when 5.8
      +card-rating-body(status, "warning")
    when 2.4
      +card-rating-body(status, "danger")
    default
      +card-rating-body(status)

mixin card-img(img, options)
  .card-row_elem.card-tab 3d
  img.card-img(src="img/today/" + img + ".jpg", alt=options.title)
  +card-rating(options.status)
  if options.status > 9
    .card-review

mixin card-title(title, classes="", marked=false)
  h3.col-auto.card-title.section-title.card-col
    .row.no-gutters.card-title_row
      span.col-auto.card-title_text= title
      //- span.col-auto.card-title_text Король лев
      .col-auto.icon.icon--round.card-row_elem.card-row_elem--d_inline_block.card-title_mark
        .icon-bg
        .icon-symbol_wrap
          +svg("bookmark", "icon-symbol")
    .d-md-none.card-row_elem.card-title_translate The Lion King
    .d-md-none.card-text_gradient_hidden

mixin card-info(classes="")
  ul.list-group.list-group-horizontal.card-info(class=classes)
    li.list-group-item.card-list_item.card-info_item
      +svg("star-empty", "card-icon card-info_icon")
      span.card-info_number 392
    li.list-group-item.card-list_item.card-info_item
      +svg("layer-group", "card-icon card-info_icon card-info_icon--review")
      span.card-info_number 47
    li.list-group-item.card-list_item.card-info_item
      +svg("comment", "card-icon card-info_icon card-info_icon--comment")
      span.card-info_number 578

mixin card-subtitle(date, genre)
  h4.card-subtitle
    //- span 2019, Боевик, драма, биография
    //- span #{date}, #{genre}
    span  Who Is Harry Kellerman and Why Is He Saying Those Terrible Things About Me?
    span.badge.card-row_elem.card-row_elem--d_inline_block.card-subtitle_badge.order-md-first 16+
    .d-md-block.card-text_gradient_hidden.card-subtitle_gradient_hidden

mixin card-categories(items)
  -
    var categoryItem = {
      icon: "",
      success: false,
      warning: false,
      danger: false,
      value: 0
    }

  ul.list-group.list-group-horizontal.card-categories
    each item, index in items
      li.list-group-item.card-list_item.card-categories_item
        if index > 0
          if item < 3
            - categoryItem.success = true
          else if item < 8
            - categoryItem.warning = true
          else
            - categoryItem.danger = true
          if index > 1 && index < 5
            if item < 3
              - categoryItem.value = "Нет"
            else
              - categoryItem.value = "Есть"
          else
            - categoryItem.value = item
        case index
          when 0
            - categoryItem.icon = "libra-square"
            if item.positive == "6,2"
              - categoryItem.success = true
            else
              - categoryItem.warning = true
          when 1
            - categoryItem.icon = "cup-square"
          when 2
            - categoryItem.icon = "bottle-square"
          when 3
            - categoryItem.icon = "strawberry-square"
          when 4
            - categoryItem.icon = "toilet-paper-square"
          when 5
            - categoryItem.icon = "knuckle-square"
          when 6
            - categoryItem.icon = "bullhorn-square"
        +svg(categoryItem.icon, {"icon": true, "card-categories_icon": true, "icon-success": categoryItem.success, "icon-warning": categoryItem.warning, "icon-danger": categoryItem.danger})
        case index
          when 0
            span.card-categories_badge
              span.text-success= item.positive
              | /
              span.text-danger= item.negative
          default
            span.card-categories_badge(class={"text-success": categoryItem.success, "text-warning": categoryItem.warning, "text-danger": categoryItem.danger})= categoryItem.value
      - categoryItem.success = false
      - categoryItem.warning = false
      - categoryItem.danger = false

mixin card(img, options)
  article.card(:class="cardClasses")
    .card-body
      .row.no-gutters.align-items-start
        .col-auto.card-col.card-img_wrap
          +card-img(img, options)
        .col.card-col.card-text_wrap
          .row.no-gutters.card-text_wrap_row
            +card-title(options.title)
            .col-auto.card-info_wrap
              +card-info
            .w-100.card-separator
            .col.card-categories_wrap
              +card-subtitle(options.date, options.genre)
              +card-categories(options.reviews)
              .d-md-none.card-text.card-text--short Фильм, 120 мин. Великобритания
            .col-auto.card-text= options.text
      a.btn.btn-link.d-md-none.card-row_elem.card-link(href="") Подробнее...
    .d-md-none.card-row_elem.card-footer
      +card-info

mixin display-cards(items)
  each item, index in items
    +card((index + 1), item)

mixin card-container
  main.row.mr-lg-0.section-container.main-row.main-container(:class="containerClasses")
    +display-cards(movies)
    +display-cards(movies)
