include variables

mixin svg(id, classes="", vClasses="")
  svg(class=classes :class=vClasses)
    //- use(x="0" y="0" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#" + id)
    //- use(xlink:href="sprite.svg#" + id)
    use(xlink:href="#" + id)

  //- object(type="image/svg+xml" data="img/svg/" + id + ".svg" class=classes) Your browser does not support SVG

mixin card-img(img, options)
  .card-row_elem.card-tab 3d
  .card-img_wrap
    img.card-img(src="img/today/" + img + ".jpg", alt=options.title)
  .icon.card-img_icon.card-rating(class={"card-rating--success": options.status <= 10, "card-rating--warning": options.status < 7, "card-rating--danger": options.status < 4})
    .icon-symbol_wrap.card-img_icon_bg.card-rating_bg
      +svg("star-bg", "icon-symbol")
    .icon-symbol_wrap.card-img_icon_bg.card-rating_star
      +svg("star", "icon-symbol")
    span.icon-symbol_wrap.card-rating_text= options.status
  if options.status > 9
    .icon.card-img_icon.card-review
      .icon-symbol_wrap.card-img_icon_bg.card-review_bg
        +svg("stamp-glow", "icon-symbol")
      .icon-symbol_wrap.card-review_icon
        +svg("stamp", "icon-symbol")

mixin card-title-text(text)
  span.card-title_text= text

mixin card-title(title, marked)
  h3.col-auto.section-title.card-title
    .position-relative.card-title_row
      //- +card-title-text(title)
      +card-title-text("Король лев")
      .icon.icon--round.card-row_elem.card-row_elem--d_inline_block.card-title_mark(class={"icon--success": marked})
        .icon-bg
        .icon-symbol_wrap
          +svg("bookmark", "icon-symbol")
    .d-md-none.card-row_elem.card-title_translate The Lion King
    .card-text_gradient_hidden.card-title_gradient_hidden

mixin card-info(statistics)
  ul.list-group.list-group-horizontal.card-info(class=classes)
    li.list-group-item.card-list_item.card-info_item.card-info_item--stars
      +svg("star-empty", "card-icon card-info_icon")
      span.card-info_number= statistics.stars
    li.list-group-item.card-list_item.card-info_item.card-info_item--reviews
      +svg("layer-group", "card-icon card-info_icon card-info_icon--review")
      span.card-info_number= statistics.reviews
    li.list-group-item.card-list_item.card-info_item.card-info_item--comments
      +svg("comment", "card-icon card-info_icon card-info_icon--comment")
      span.card-info_number= statistics.comments

mixin card-subtitle-text(text)
  span= text

mixin card-subtitle(options)
  h4.card-subtitle
    +card-subtitle-text("2019, Боевик, драма, биография")
    //- +card-subtitle-text(options.date + ", " + options.genre)
    //- +card-subtitle-text(options.translate)
    span.badge.card-row_elem.card-row_elem--d_inline_block.card-subtitle_badge.order-md-first 16+
    .card-text_gradient_hidden.card-subtitle_gradient_hidden

mixin card-categories(items)
  -
    var categoryItem = {
      icon: "",
      success: false,
      warning: false,
      danger: false,
      value: 0
    }

  ul.list-group.list-group-horizontal.card-categories
    each item, index in items
      li.list-group-item.card-list_item.card-categories_item
        if index > 0
          if item < 3
            - categoryItem.success = true
          else if item < 8
            - categoryItem.warning = true
          else
            - categoryItem.danger = true
          if index > 1 && index < 5
            if item < 3
              - categoryItem.value = "Нет"
            else
              - categoryItem.value = "Есть"
          else
            - categoryItem.value = item
        case index
          when 0
            - categoryItem.icon = "libra-square"
            if item.positive == "6,2"
              - categoryItem.success = true
            else
              - categoryItem.warning = true
          when 1
            - categoryItem.icon = "cup-square"
          when 2
            - categoryItem.icon = "bottle-square"
          when 3
            - categoryItem.icon = "strawberry-square"
          when 4
            - categoryItem.icon = "toilet-paper-square"
          when 5
            - categoryItem.icon = "knuckle-square"
          when 6
            - categoryItem.icon = "bullhorn-square"
        +svg(categoryItem.icon, {"icon": true, "card-categories_icon": true, "icon--success": categoryItem.success, "icon--warning": categoryItem.warning, "icon--danger": categoryItem.danger})
        case index
          when 0
            span.card-categories_text
              span.text-success= item.positive
              | /
              span.text-danger= item.negative
          default
            span.card-categories_text= categoryItem.value
      - categoryItem.success = false
      - categoryItem.warning = false
      - categoryItem.danger = false

mixin card-short-text(text)
  .card-row_elem.card-short_text= text

mixin card(img, options)
  article.card(:class="cardClasses")
    .card-body
      .row.no-gutters.align-items-start
        .col-auto.card-img_cover
          +card-img(img, options)
        .col.card-text_wrap
          .row.no-gutters.card-text_wrap_row
            +card-title(options.title, options.marked)
            .col-auto.card-info_wrap
              +card-info(options.statistics)
            .w-100.card-separator
            .col.card-categories_wrap
              +card-subtitle(options)
              +card-categories(options.reviews)
              //- +card-short-text("Фильм, 120 мин. Великобритания")
              +card-short-text(options.category)
            .col-auto.card-desc= options.text
      a.btn.btn-link.d-md-none.card-row_elem.card-link(href="") Подробнее...
    .d-md-none.card-row_elem.card-footer
      +card-info(options.statistics)

mixin display-cards(items)
  each item, index in items
    +card((index + 1), item)

mixin card-container
  main.row.mr-lg-0.section-container.main-row.main-container(:class="containerClasses")
    +display-cards(movies)
    +display-cards(movies)

mixin page-icon(icon)
  //- span.icon.page-text.page-icon(class="icon-" + icon)
  +svg("angle", "icon icon-" + icon + " page-text page-icon")

mixin page-text(text)
  span.d-none.d-md-block.page-text= text

mixin page-item(index, len)
  - var itemClassCond = index == 4 || index == len - 2

  li.page-item(class={"d-none": itemClassCond, "d-md-block": itemClassCond, "active": index == 3})
    //- a.page-link(href="" class={"ml-6": index == len - 1})
    a.page-link(href="")
      case index
        when 0
          +page-icon("angle_left")
          +page-text("Предыдущая")
        when len - 1
          +page-text("Следующая")
          +page-icon("angle_right")
        default
          | #{index}

mixin pagination
  - var len = 7

  ul.col-auto.pagination.mb-6.pr-19.pr-md-20
    - for (var i = 0; i < len; i++)
      +page-item(i, len)
